body{
  margin: 0;
}

header{
  width: 100%;
  min-height: 100vh;
  background-image: url("gallery/bgheader.jpg");
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  background-attachment: fixed;
}

header nav{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  background: linear-gradient(to bottom, black, transparent);
}

header nav ul{
  height: 60px;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}

header nav ul li{
  list-style: none;
  margin-right: 30px;
}

header nav ul li a{
  font-family: Roboto;
  text-decoration: none;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul li a:after {
  content: '';
  display: block;
  margin: 1px auto;
  height: 2px;
  width: 0;
  transition: width .5s ease, background-color .5s ease;
}

header nav ul li a:hover:after {
  width: 100%;
  background: white;
}

header nav a{
  text-decoration: none;
  color: white;
}

header nav a h1{
  width: 217px;
  letter-spacing: 3px;
  font-size: 31px;
  font-family: Roboto;
  line-height: 20px;
  margin: 10px 0 0 10px;
}

header nav a h1 span{
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: lighter;
}

header p{
  color: white;
  margin: auto;
  font-size: 30px;
  margin-top: 280px;
  text-align: right;
  line-height: 60px;
  font-family: Roboto;
}

header p span{
  font-size: 20px;
  margin-right: -40px;
}

@media screen and (max-width: 800px) {
  header nav ul{
    display: none;
  }
  header nav a{
    width: 80%;
  }
  header nav a h1{
    font-size: 26px;
    line-height: 20px;
    margin: 10px 0 0 10px;
    letter-spacing: 1px;
  }

  header nav a h1 span{
    letter-spacing: .5px;
    font-size: 12px;
  }

  header p{
    width: 80%;
    margin: auto;
    font-size: 16px;
    margin-top: 110px;
    line-height: 16px;
    text-align: center;
  }

  header p span{
    font-size: 12px;
    margin-right: -30px;
    line-height: 50px;
  }
}

#actu{
  min-height: 100vh;
  background-color: lightgreen;
}

#photo{
  min-height: 100vh;
  background-color: lightblue;
}

#plasti{
  min-height: 100vh;
  background-color: lightpink;
}

#parcours{
  min-height: 100vh;
  background-color: lightyellow;
}

#contact{
  min-height: 100vh;
  background-color: lightgrey;
}
